
#letters {
    border-spacing: 5px;
}

#letters td {
    border: 1px solid black;
    width: 1.5em;
    text-align: center;
    background-color: #feffa7;
    cursor: pointer;
}

#letters td.used {
    color: #808080;
    background-color: #d4d4d4;
    cursor: default;
}

#word {
    border-spacing: 5px;
    margin-top: 1em;
    margin-bottom: 2em;
}

#word td {
    border: 1px solid black;
    width: 1.5em;
    text-align: center;
    background-color: #fff;
    cursor: default;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

img.center {
    display: block;
}