
h1 {
    margin-bottom: 2em;
}

#gameArea {
    text-align: center;
}

#game {
    display: inline-block;
}

#letters {
    border-spacing: 5px;
}

#letters td {
    border: 1px solid black;
    width: 1.5em;
    text-align: center;
    background-color: #feffa7;
    cursor: pointer;
}

#letters td.used {
    color: #808080;
    background-color: #d4d4d4;
    cursor: default;
}

#letters td.hit {
    background-color: #acfea7;
}

#word {
    border-spacing: 5px;
    margin-top: 1em;
    margin-bottom: 2em;
}

#word td {
    border: 1px solid black;
    width: 1.5em;
    text-align: center;
    background-color: #fff;
    cursor: default;
}

#word td.missing {
    background-color: #ff8c8c;
}

#word td.hit {
    background-color: #66ff5a;
}

#word td.noBorder {
    border: 1px solid transparent;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

#buttons {
    text-align: right;
    margin-top: 2em;
}
#cancel, #play {
    margin-left:1em;
}