* {
    font-family:sans-serif;
}

h1 {
    margin-bottom: 2em;
}

#gameArea {
    text-align: center;
}

#game {
    display: inline-block;
    position: relative;
}

#letters {
    border-spacing: 5px;
}

#letters td {
    border: 1px solid black;
    width: 1.8em;
    height: 1.8em;
    text-align: center;
    background-color: #feffa7;
    cursor: pointer;
}

#letters td.used {
    color: #808080;
    background-color: #d4d4d4;
    cursor: default;
}

#letters td.hit {
    background-color: #acfea7;
}

#word {
    border-spacing: 5px;
    margin-top: 1em;
    margin-bottom: 2em;
}

#word td {
    border: 1px solid black;
    width: 1.8em;
    height: 1.8em;
    text-align: center;
    background-color: #fff;
    cursor: default;
}

#word td.missing {
    background-color: #ff8c8c;
}

#word td.hit {
    background-color: #66ff5a;
}

#word td.noBorder {
    border: 1px solid transparent;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

#misses {
    visibility: hidden;
    font-size:small;
}

#buttons {
    text-align: right;
    margin-top: 2em;
}

#cancel, #play {
    margin-left:1em;
}

#help {
    float: left;
    width: 6.5em;
}

dialog::backdrop {
    background: rgba(100, 100, 100, 0.25);
}


#helpDlg {
    border: 2px solid #70ff64;
    background-color: #e6ffe4;
    width: 400px;
    text-align: left;
    padding: 1.5em;
}

#helpClose {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0.5em;
    color: red;
    font-weight: bold;
    font-size: 1.5em;
}

#gallowShow {
    float: right;
    width: 110px;
    height: auto;
    padding-left: 10px;
}
